body{
      background-color: whitesmoke;
      color: rgb(125, 26, 192);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-brand{
      color: rgb(125, 26, 192);
      background-color: whitesmoke;
}

.navbar.bg-body-tertiary .navbar-nav .nav-link {
      color: rgb(125, 26, 192);
      background-color: whitesmoke;
}
.navbar-nav .dropdown-item {
      color: rgb(125, 26, 192);
}
.navbar-nav .dropdown-item:hover {
      background-color: rgb(225, 190, 137); 
}
.navbar-toggler{
      border-color: rgb(125, 26, 192);
}
.navbar-toggler-icon{
      background-image: url(
            "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(125, 26, 192)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
h2{
      text-align: center;
}
input{
      border-radius: 10px;
}

.light{
      background-color: white;
}
#logocss{
      align-items: center;
      border: 3px solid #7D13C0;
      border-radius: 10px;
}

.dropdown{
      background-color: black;
}
#cuit,
#telefono {
      text-align: center;
      width: 150px;
}
#nombre,
#apellido,
#usuario, 
#password,
#direccion,
#ciudad{
      color: rgb(125, 26, 192);
      text-align: center;
      width: 300px;
}
input[type="email"],
input[type="url"] {
      text-align: center;
      width: 100%; 
      max-width: 300px; 
}
label{
      color: rgb(125, 26, 192);
}
.container{
      background-color: rgb(225, 190, 137);
      padding: 20px;
      border-radius: 20px;
}

.container2{
      color: white;
      border-radius: 10px;
}

.bi {
      color: white;
      font-size: 25px;
}
.bi-arrow-left-circle-fill {
font-size: 40px;
}
.flecha-container {
text-align: center;
}
.flecha {
display: inline-block;
vertical-align: middle;
margin: 0;
}
.portada {
      display: flex;
      justify-content: center;
      padding: 0px;
}
.portada img {
      max-width: 80%;
      max-height: 80%; 
}
.login{
      max-width: 300px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      color: white;
      align-items: center;
      text-align: center;      
      border-radius: 10px;
}
.login input[type="usuario"],
.login input[type="password"],
.login button {
      border: 1px solid rgb(125, 26, 192);
      color: rgb(125, 26, 192);
      margin-top: 10px;
      text-align: center;
      width: 100%; 
      margin-bottom: 10px;
}
.btn-success{
      background-color: rgb(70, 12, 108);
}
.btn-success:hover,
.btn-success:active{
      background-color: rgb(104, 84, 117);
}
.btn-primary{
      background-color: rgb(125, 26, 192);
}
.btn-primary:hover,
.btn-primary:active{
      background-color: rgb(118, 5, 101) !important;
}
.imagen{
      width: 50px;
      height: 100px;
}
form{   
      padding: 10px;
      text-align: center;
}
#dropUsuario {
      margin-right: 10px;
      margin-bottom: 20px;
}
#iniciarSesion:hover{
      background-color: rgb(125, 26, 192);
}
footer {
      background-color: rgb(225, 190, 137);
      padding-top: 5px;
      padding-bottom: 5px;
}
